body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    height: 130px;
    width: 100%;

}
.header1{
    width: 100%;
    height: 30px;
    background-color: #4869B1;
    color: white;
}
.header1 p{
    float: left; 
    margin-left: 100px;
    margin-top: 2px;
}
.header1 pre{
    margin-left: 720px; 
    float: left;
    font-family: sans-serif;
    margin-top: 2px;
}
.header2 a{
    text-decoration: none;
    color: black;
}
.header2 button a{
    color: white;
}
.header2{
    width: 100%;
    height: 80px;
    background-color: white;
    padding: 0px;
    align-items: center;
}   
.header2 span{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 30px;
}
.header2 button{
    background-color: #3E5D9D;
    padding: 5px;
    width: 130px;
    border-radius: 5px;
    border: 0;
    color: white;
    
}
.contact{
    height: 700px;
    width: 100%;
    -border: 1px solid rgb(174, 174, 174);
    background-image: url(IMAGES/contactbg.png);
    padding-top: 30px;
}
.contact center{
    font-size: 30px;
    
}
.a{
    border: 1px solid #7DD5FF; 
    width: 10%; 
    height: 1px; 
    background-color: #7DD5FF; 
    margin-left: 610px; 
    margin-top: 10px;
}
.b{
    border: 1px solid #7DD5FF; 
    width: 8%; 
    height: 1px; 
    background-color: #7DD5FF; 
    margin-left: 625px; 
    margin-top: 10px;
}
.contact1{
    height: 500px;
    width: 38%;
    border: 1px solid #ddd;
    background-image: url(IMAGES/contacts_img_02.png);
    margin-left: 100px;
    border-radius: 5px;
    padding: 30px;
    float: left;

}
.contact1 small{
    font-family: sans-serif;
    font-size: 21px;
}
.contact1 span{
    font-size: 15px;
    color: #5d5c5c;
}
.contact1 a{
    text-decoration: none;
    color: orangered;
}
.contact12 input{
    height: 50px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.con11{
    height: 100%;
    width: 49.5%;
    float: left;
    -border: 1px solid black;
}
.con12{
    height: 100%;
    width: 49.5%;
    float: left;
    -border: 1px solid black;
}
.con11 input{
    height: 50px;
    box-sizing: border-box;
    width: 95%;
    border: 1px solid #ddd;
    border-radius: 3px;
    float: left;
}
.con12 input{
    height: 50px;
    box-sizing: border-box;
    width: 95%;
    border: 1px solid #ddd;
    border-radius: 3px;
    float: left;
    margin-left: 6%;
}
.con12 span{
    font-size: 15px;
    margin-left: 6%;
    color: #5d5c5c;
}
.contact14 input{
    height: 80px;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 3px;
}
.contact2{
    height: 200px;
    width: 40%;
    float: left;
    border: 1px solid #ddd;
    background-color: rgb(255, 255, 255);
    margin-left: 2%;
    border-radius: 3px;
    padding: 10px;
    padding-top: 5px;
}
.contact2 small{
    font-family: sans-serif;
    font-size: 21px;
}
.contact11{
    height: 8%;
    width: 100%;
    float: left;
    -border: 1px solid red;
}
.contact12{
    height: 15%;
    width: 100%;
    float: left;
    margin-top: 20px;
    -border: 1px solid red;
}
.contact13{
    height: 15%;
    width: 100%;
    float: left;
    margin-top: 10px;
    -border: 1px solid red;
}
.contact14{
    height: 20%;
    width: 100%;
    float: left;
    margin-top: 10px;
    -border: 1px solid red;
}
.contact15{
    height: 20%;
    width: 100%;
    float: left;
    margin-top: 10px;
    -border: 1px solid red;
}
.con15{
    height: 80%;
    width: 60%;
    border: 1px solid #828181;
    border-radius: 3px;
    background-color: #F9F9F9;
    margin-top: 9px;
}
.co1{
    height: 30px;
    width: 30px;
    border: 2px solid #a4a3a3;
    border-radius: 3px;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
}
.con15 span{
    float: left;
    font-size: 20px;
    margin-top: 25px;
    color: #000;
    margin-left: 10px;

}
.con15 img{
    height: 80px;
    width: 90px;
    margin-left: 20px;

}
.contact16 button{
    width: 100%;
    height: 40px;
    border: 1px solid #7281a0;
    margin-top: 10px;
    border-radius: 3px;
    background-color: #4869B1;
    color: #FFFFFF;
}
.contact21{
    height: 25%;
    width: 100%;
    -border: 1px solid black;
    margin-top: -55px;
    float: left;
}
.contact22{
    height: 25%;
    width: 100%;
    -border: 1px solid black;
    margin-top: -5px;
    float: left;
}
.contact23{
    height: 25%;
    width: 100%;
    -border: 1px solid black;
    margin-top: -0px;
    float: left;
}
.contact31{
    height: 40px;
    width: 40px;
    border: 1px solid #ddd;
    border-radius: 25px;
    margin-top: 3px;
    margin-left: 5px;
    float: left;
}
.contact32{
    height: 40px;
    width: 40px;
    border: 1px solid #ddd;
    border-radius: 25px;
    margin-top: 3px;
    margin-left: 5px;
    float: left;
}
.contact33{
    height: 40px;
    width: 40px;
    border: 1px solid #ddd;
    border-radius: 25px;
    margin-top: 3px;
    margin-left: 5px;
    float: left;
}
.contact21 span{
    font-size: 15px;
    float: left;
    width: 500px;
    margin-top: -40px;
    margin-left: 15px;
    color: #828181;
    -border: 1px solid red;

}
.contact22 span{
    font-size: 15px;
    float: left;
    margin-top: 13px;
    margin-left: 10px;
    color: #828181;
    -border: 1px solid red;

}
.contact23 span{
    font-size: 15px;
    float: left;
    margin-top: 13px;
    margin-left: 10px;
    color: #828181;

}
.contact3{
    height: 300px;
    width: 40.7%;
    float: left;
    border: 1px solid #ddd;
    background-color: rgb(255, 255, 255);
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 3px;
    padding: 5px;
}
.contact3 iframe{
    height: 300px; 
    width: 100%;
}
.footer{
    height: 250px;
    width: 100%;
    background-image: url(IMAGES/inquerybg.png);
}
.footer1{
    height: 59.5%;
    width: 100%;
    -border: 1px solid black;
    float: left;
}
.footer2{
    height: 39.5%;
    width: 100%;
    -border: 1px solid black;
    float: left;
}
.footer h1{
    margin: auto;
    margin-top: 60px;
}
.footer h3{
    margin: auto;
    color: #757373;
    width: 550px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer input{
    width: 550px;
    height: 40px;
    margin-left: 28.9%;
    margin-top: 10px;
    border-radius: 5px;
    background-origin: padding-box;
    border: 0.5px solid #DEE2E6;
}
.footer button{
    height: 35px;
    width: 100px;
    background-color: #3E5D9D;
    margin-left: -110px;
    border-radius: 5px;
    color: white;
}
.footerr{
    background-image: url(IMAGES/Footerbg.png);
    height: 370px;
    width: 100%;
    padding-top: 50px;
}
.footerr1{
    height: 315.88px;
    width: 100%;
    -border: 1px solid black;
    
}
.footerr11{
    height: 100%;
    width: 25%;
    -border: 1px solid red;
    float: left;
    margin-left: 100px;
}
.footerr12{
    height: 100%;
    width: 15%;
    -border: 1px solid red;
    float: left;
    margin-left: 20px;
}
.footerr13{
    height: 100%;
    width: 15%;
    -border: 1px solid red;
    float: left;
    margin-left: -20px;
}
.footerr14{
    height: 100%;
    width: 24%;
    -border: 1px solid red;
    float: left;
    margin-left: 40px;
}
.footerr21{
    height: 50%;
    width: 80%;
    -border: 1px solid black;
    padding-left: 3%;
}
.footerr p{
    margin-top: 00px;
    color: #666666;
}
.footerr button{
    margin-top: -30px;
    color: #4e58e8;
    border: 0;
    background-color: white;
}
.footerr12 h3{
    color: black;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 20px;
}
.footerr12 ul{
    height: 70%;
    width: 50%;
    -border: 1px solid black;
    margin-left: 15px;
    margin-top: 50px;
}
.footerr12 li{
    font-size: 19px;
    color: #666666;
}
.footerr13 h3{
    color: black;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 23px;
}
.footerr13 ul{
    height: 70%;
    width: 100%;
    -border: 1px solid black;
    margin-left: 10px;
    margin-top: 50px;
}
.footerr13 li{
    font-size: 17px;
    color: #666666;
}
.footerr14 h3{
    color: black;
    margin-left: 40px;
    margin-top: 20px;
    font-size: 23px;
}
.footerr13 button{
    margin-left: 120px;
    margin-top: 20px;
}
.contactt1 ,.contactt2 ,.contactt3{
    margin-left: 30px;
}
.contactt11{
    height: 30px;
    width: 30px;
    background-color: #4e58e8;
    border-radius: 5px;
    
    margin-top: 50px;
}
.contactt12{
    height: 30px;
    width: 30px;
    background-color: #4e58e8;
    border-radius: 5px;
    margin-top: 20px;
}
.contactt13{
    height: 30px;
    width: 30px;
    background-color: #4e58e8;
    border-radius: 5px; 
    margin-top: 20px;
}
address{
    width: 350px;
    margin-left: 40px;
    margin-top: -25px;
    color: #666666;
}
.footerr2{
    height: 34px;
    width: 630px;
    margin-left: -20px;
    padding-top: 20px;
    content: "";
    background: #496DB3;
    border-radius: 10px;
    transform: skew(20deg);
    z-index: -1;
}
.ba{
    -border: 1px solid red;
    height: 80%;
    width: 90%;
    transform: skew(-20deg);
}
.footerr2 span{
    color: white;
    font-size: 20px;
    margin-left: 100px;
    
}
.footerr12 a{
    text-decoration: none;
    color: #666;

}
.footerr11 a{
    text-decoration: none;
    color: #4e58e8;
    background: none;
}
.footerr13 a{
    text-decoration: none;
    color: #4e58e8;
    background: none;
}
.footerr12 li{
    margin-left: -20px;
}
.footerr13 li{
    margin-left: -20px;
}
.jayyu6{
    font-size: 15px;
    margin-top: 8px;
    margin-left: 8px;
    color: white;
}
.jayyu7{
    font-size: 15px;
    margin-top: 12px;
    margin-left: 13px;
    color: #777777;
}